div {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSaAPtI0w6Q0VSi6DdfBgGZVYC8lAZxIthDRQ&s) ;
    background-attachment: fixed;
    object-fit: cover;
    background-size: cover ;
}

* {
    font-family: sans-serif;
    background-color: rgb(245, 245, 245);
}

h1 {
    font-size: 24px;
    color: #242424;
    font-weight: 900;
}

h2 {
    font-size: 20px;
    color: #606060;
    font-weight: 800;
}

p {
    font-size: 14px;
    margin: 30px 0;
}

ul {
    margin-left: 100px;
    padding: 20px;
    border: 2px solid blue;
    list-style-type: none;
    max-width: 40%;
}

li {
    font-family: monospace;
    font-size: 18px;
    padding: 10px;
}

li a {
    font-weight: bold;
    text-decoration: underline;
    color: orange;
}

.verde, .verde li a {
    color: green;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

a {
    font-weight: bold;
}
